<style>
    .footer{
        height: 200px;
        box-sizing: border-box;
        background: rgba(31, 31, 31, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
    }
    .fbrand img{
        width: 50px;
        height: auto; 
    }
    .fbrand span{
        font-size: 12px;
        font-weight: 400;
        color: #f2f2f2;
    }
    
    .fsocial img{
       width: 25px;
       height: auto;
    }
    @media screen and (max-width: 600px){
        .footer{
            flex-direction: column;
            gap: 40px;
            justify-content: center;
            align-items: center;
        }
        .fbrand img{
            width: 30px;
            height: auto; 
        }
    }
    
</style>
<div class="footer">
    <div class="fbrand">
        <img src="./img/logo1white.png" alt="longisland">
        <span>Long Island</span>
    </div>
    <div class="fsocial">
        <a href="#fb"><img src="./img/facebook.png" alt="facebook"></a>
        <a href="#ig"><img src="./img/instagram.png" alt="instagram"></a>
    </div>
</div>