<style>
    .footer{
        
        background: rgba(31, 31, 31, 1);
        
    }
    .fcontainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
    }
    .fbrand img{
        width: 50px;
        height: auto; 
    }
    .fbrand span{
        font-size: 12px;
        font-weight: 400;
        color: #f2f2f2;
    }
    
    .fsocial img{
       width: 25px;
       height: auto;
    }
    @media screen and (max-width: 600px){
        .fcontainer{
            flex-direction: column;
            justify-content: space-around;
            
        }
        .fbrand img{
            width: 30px;
            height: auto; 
        }
    }
    
</style>
<div class="footer">
    <div class="container fcontainer">
        <div class="fbrand">
            <img src="<%= show ? '.':'' %>./img/logo1white.png" alt="longisland">
            <span>Long Island</span>
        </div>
        <div class="fsocial">
            <a href="#fb"><img src="<%= show ? '.':'' %>./img/facebook.png" alt="facebook"></a>
            <a href="#ig"><img src="<%= show ? '.':'' %>./img/instagram.png" alt="instagram"></a>
        </div>
    </div>
</div>