<div class="header-content container text-center">
    <h1>Dugi Otok</h1>     
    <p class="w-75 mx-auto">
        Prirodoslovno, to je otok osebujnosti i kontrasta i najveći otok u skupini sjeverno-dalmatinskih otoka. Svoje ime opravdava dužinom od oko 45 km, a širok je između 1 i 4 km, s najvišim vrhom Vela Straža (338 m). 
    </p>
    <div class="header-buttons">
        <a href="#booking" class="btn">Iznajmljivanje apartmana</a>     
    </div>
</div>