<% layout('layouts/boilerplate'); %>
<div class="start-favourites">
    <h2 class="text-center mb-2">Atraktivne <span>Destinacije</span></h2>
    <div class="container favourites-content">
        <% for( let destinacija of pageData.destinacije ) { %>
            <div class="card" data-aos="fade-up">              
                <div class="card-img">
                    <img src="<%= destinacija.img %>" class="img-fluid " alt="<%= destinacija.title %>">     
                </div>         
                <div class="card-body">
                    <h5 class="card-title"><%= destinacija.title %></h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#sakarun" class="btn">Više</a>
                </div>           
            </div>
        <% } %>
        
        
    </div>   
</div>