<%- layout('./layouts/boilerplate') %>
<div class="page-content">
    <h1>Dugi Otok | Plaže</h1>
    <div class="content">
        <% for( let plaza of pageData.plaze ) { %>
            <div class="card" data-aos="fade-up">              
                <div class="card-img">
                    <img src="<%= plaza.img %>" alt="<%= plaza.title %>">     
                </div>         
                <div class="card-body">
                    <h5 class="card-title"><%= plaza.title %></h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="#sakarun" class="btn">Više</a>
                </div>           
            </div>
        <% } %>
    </div>
</div>